<% if current_admin %>
    <div id="wrapper">
        <%= render "admins/navbar" %>
        <%= render "admins/sidebar" %>
        <%= render "admins/content" %>
    </div>
<% else %>
    <%= link_to 'Signup', '/signup'%><br>
    <%= link_to 'Login', '/login'%>
<% end %>