<div class="container">   
  <%= form_for @student, url: {action: :create} do |f| %>   
   <div class="form-group p-2">
           <strong><%= form.label :name %></strong><br>
           <%= form.text_field :name, class: 'form-control bg-light' %>
         </div>
         <div class="form-group p-2">
           <strong><%= form.label :email %></strong><br>
           <%= form.email_field :email, class: 'form-control  bg-light', placeholder: 'name@gmail.com' %>
         </div>
         <div class="form-group p-2">
           <strong><%= form.label :studentid %></strong><br>
           <%= form.text_field :studentid, class: 'form-control  bg-light' %>
         </div>
         <div class="form-group p-2">
           <%= form.submit :submit, class: 'form-control btn-dark' %>
         </div>   
  <% end %>  
  <a href="/">home page</a> 
</div>  