 <div id="wrapper">
   <%= render "mains/navbar" %>
   <%= render "mains/sidebar" %>
   <div class="content-page">
     <div class="content">

       <!-- Start Content-->
       <div class="container">
         <%= form_with scope: :income, url: incomes_path, local: true do |form| %>
         <h1>Imcome form</h1>
         <div class="form-group p-2">
           <strong><%= form.label :avg %></strong><br>
           <%= form.text_field :avg, class: 'form-control bg-light' %>
         </div>
         <div class="form-group p-2">
           <strong><%= form.label :totalincome %></strong><br>
           <%= form.text_field :totalincome, class: 'form-control  bg-light'%>
         </div>
         <div class="form-group p-2">
           <strong><%= form.label :percentage %></strong><br>
           <%= form.text_field :percentage, class: 'form-control  bg-light' %>
         </div>
         <div class="form-group p-2">
           <%= form.submit :submit, class: 'form-control btn-dark' %>
         </div>
         <% end %>
         <a href="/">home page</a>
       </div>
     </div>
   </div>
 </div>